{
  "openapi": "3.1.0",
  "info": {
    "title": "Kuralynx API",
    "description": "API documentation for the Kuralynx Agents service.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kuralynx.com"
    }
  ],
  "paths": {
    "/v1/send-call": {
      "post": {
        "summary": "Send a call",
        "description": "Queue a call to a specified recipient using a given agent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "description": "The unique identifier for the agent."
                  },
                  "call_to": {
                    "type": "string",
                    "description": "The phone number or recipient to call."
                  }
                },
                "required": ["agent_id", "call_to"]
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Call successfully queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "call_id": { "type": "string", "description": "The unique identifier for the queued call." },
                    "message": { "type": "string", "example": "Call successfully queued" }
                  },
                  "required": ["status", "call_id", "message"]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key generated from app.kuralynx.com"
      }
    }
  }
}